.video-player-for-wpbakery {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    .video-player-for-wpbakery-container {
        position: relative;
        width: 100%;
        max-width: 100%;

        video,
        iframe {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}